<h1> Lista de artistas </h1>

<section class="listArtists">
    {{#each artistList}}
    <article class="eachArtist">
        <img src="{{this.images.0.url}}" alt="imagen" width="200px" />
        <div class="textAndLink">
            <p> {{this.name}} </p>
            <p><a href="/albums/{{this.id}}"> View albums </a></p>
        </div>
    </article>
    {{/each}}

</section>
