<div id="divHome">
        <form action="/artist-search", method="GET" id="searchArtist">
            <input type="text" name="artistName" id="artistName" />
            <button id="searchButton"> Search for an artist </button>
        </form>
</div>
